nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ddd;
    color: #333;
}

body {
    font-size: 16px; /* Default font size */
}

.small-text {
    font-size: 75%; /* 75% of the parent element's font size */
}

.normal-text {
    font-size: 100%; /* 100% of the parent element's font size */
}

.large-text {
    font-size: 300%; /* 150% of the parent element's font size */
    padding: 5%;
    gap: 10%;
    top: 0%;
    color: aliceblue;
}

#intro {
    position: absolute;
    width: 66%;
    height: 70%;
    border-radius: 3%;
    top: 20%;
    left: 15%;
    background-color: #B22222;
}

#gallery01, #gallery03 {
    position: absolute;
    height: 87%;
    gap: 2px;
    width: 80%;
}

#gallery01 {
    top: 100%;
    left: 10%;
}

#gallery03 {
    top: 200%;
    left: 10%;
}

.box, .box1, .box2, .box3 {
    position: absolute;
    height: 100%;
    width: 25%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: border 0.3s ease;
    border: 5px solid transparent;
}

.box:hover, .box1:hover, .box2:hover, .box3:hover {
    border: 5px solid purple;
}

.box p, .box1 p, .box2 p, .box3 p {
    position: absolute;
    color: beige;
    padding: 20%;
}

.box p:nth-of-type(1), .box1 p:nth-of-type(1), .box2 p:nth-of-type(1), .box3 p:nth-of-type(1) {
    top: 60%;
}

.box p:nth-of-type(2), .box1 p:nth-of-type(2), .box2 p:nth-of-type(2), .box3 p:nth-of-type(2) {
    top: 70%;
}

.box1 {
    left: 25%;
}

.box2 {
    left: 50%;
}

.box3 {
    left: 75%;
}
